doctype html
html
  head
    title= FriendsNearMe
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  body
    block content
    script(src='/javascripts/globalerror.js')
    a#loginlink(style='border: 2px solid pink; padding: 0.5em; float: right;margin: 1em' href='/') Go back to Login Page
    br
    h1
